:root {
    --small: #999;
    --medium: #777;
    --large: #333;
}

body {
    font-family: sans-serif;
    background-color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container h3 {
    color: #f1f1f1;
    text-align: center;
}

.map-container {
    width: 1000px;
    height: 500px;
    background-image: url('./map.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid blue;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.map-container .circle {
    /* display: block; */
    width: 30px;
    height: 30px;
    background-color: var(--small);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation-name: small;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.map-container .circle::before,
.map-container .circle::after {
    /* display: block; */
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--medium);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation-name: medium;
    animation-duration: 3s;
    /* animation-delay: 0.5s; */
    animation-iteration-count: infinite;
}

.map-container .circle::after {
    background-color: var(--large);
    transform: translate(-50%, -50%) scale(0);
    animation-name: large;
    /* animation-delay: 1s; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes small {
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

@keyframes medium {
    to {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

@keyframes large {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}